fastapi>=0.110.0
uvicorn[standard]>=0.31.1
pydantic>=2.9.0,<3.0.0
pydantic-settings>=2.5.2,<3.0.0
sqlalchemy>=2.0.28
alembic>=1.13.1
asyncpg>=0.29.0
aiosqlite>=0.20.0
redis>=5.0.3
faiss-cpu>=1.8.0
sentence-transformers>=2.6.0
google-generativeai==0.7.2
protobuf<5.0.0dev,>=3.19.5
numpy>=1.26.4
python-multipart>=0.0.9
httpx>=0.28.1
pytest>=8.1.0
pytest-asyncio>=0.23.5
aiofiles>=23.2.1
mlxtend>=0.23.1


